body {
    width: 85%;
    margin: 2em auto; 
    background-color: rgb(4, 115, 4);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:large;
} 
#container {
    background-color:rgb(251, 250, 248);
    padding: 2em;
}
h1 {
    font-family: 'Mountains of Christmas', 'Georgia', 'Lucida Sans';
    color:rgb(198, 156, 16);
    font-size: 3.5em;
    text-align:center;
    margin-top: .8em;
}
h2 {
    color:rgb(6, 73, 26)
}

h3 {
    color:rgb(179, 9, 9);
}
h2, h3 {
    margin-top:2em;
}
p.todo { 
    background-color: red;
    color: white;
}
button {
    padding:.2em;
    background-color:blanchedalmond;
    border:2px solid rgb(4, 115, 4);
    color: rgb(4, 115, 4);
    font-size: large;
    text-align:center;
}
a:link {
    color: rgb(4, 115, 4);
}
a:visited {
    color:rgb(236, 36, 36);
}
.rounded-corners {
    border-radius: 5px;
  }
  .light-text {
    color:gray;
    font-weight:light;
  }
  
